.downloadButtons {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1279px) {
    justify-content: center;
  }

  .button {
    display: inline-flex;
    width: 120px;
    height: 40px;
    margin-right: 18px;
    border-radius: 6px;

    @media screen and (min-width: 744px) and (max-width: 1279px) {
      margin-right: 12px;
    }

    &:nth-child(2) {
      @media screen and (max-width: 743px) {
        margin-right: 0;
      }

      @media screen and (min-width: 744px) and (max-width: 1279px) {
        margin-right: 12px;
      }
    }

    &:nth-child(3) {
      @media screen and (max-width: 743px) {
        display: none;
      }

      @media screen and (min-width: 744px) {
        display: flex;
      }
    }
  }
}
