# MacOS-specific files
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Cache
.eslintcache

# Build output
dist/

# Generated types
.astro/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production

# Jetbrains setting folder
.idea/

# Editors
.idea

# Terraform
.infrastructure/cloud/.env
.infrastructure/cloud/.terraform/
.infrastructure/cloud/terraform.tfstate
.infrastructure/cloud/.terraform.tfstate.lock.info
.infrastructure/cloud/terraform.tfstate.backup
.infrastructure/cloud/tf_plan