# OSX
.DS_Store

# Gatsby
.cache/
public
src/gatsby-types.d.ts

# Node
node_modules/
npm-debug.log
yarn-error.log

# Cache
.eslintcache

# Editors
.idea

# Terraform
.infrastructure/cloud/.env
.infrastructure/cloud/.terraform/
.infrastructure/cloud/terraform.tfstate
.infrastructure/cloud/.terraform.tfstate.lock.info
.infrastructure/cloud/terraform.tfstate.backup
.infrastructure/cloud/tf_plan