@import '../../../styles/variables.module.scss';

.navLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: $grayscale30;

  &:hover {
    color: $grayscale45;
  }
}
