version: 2.1

orbs:
  frontend: onesimpleone/frontend@1.2.0

workflows:
  developement:
    jobs:
      - frontend/linters:
          name: linters
          context: general_env
      - frontend/typescript:
          name: typescript
          context: general_env
