version: 2.1

jobs:
  linters:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout
      - run: yarn install
      - run: yarn lint:prettier-check
      - run: yarn lint:stylelint-check

  typescript:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout
      - run: yarn install
      - run: yarn typescript:check

workflows:
  developement:
    jobs:
      - linters
      - typescript
