version: 2.1

jobs:
  linters:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout
      - run: yarn install
      - run: yarn lint:prettier-check
      - run: lint:stylelint-check

  typescript:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout
      - run: yarn install
      - run: yarn lint:typescript-check
      - run: yarn lint:astro-check

workflows:
  developement:
    jobs:
      - linters:
          name: linters
          context: general_env
      - typescript:
          name: typescript
          context: general_env
