version: 2.1

jobs:
  linters:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout
      - run: yarn install
      - run: yarn prettier --check .
      - run: yarn stylelint '**/*{.css,.scss}'

  typescript:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout
      - run: yarn install
      - run: yarn tsc --noEmit

workflows:
  developement:
    jobs:
      - linters
      - typescript
