@import '../../../styles/variables.module';

.container {
  display: flex;

  @media screen and (max-width: 1279px) {
    justify-content: center;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  color: $grayscale0;
  background-color: $grayscale45;
  border-radius: 6px;
}
