---
const { link, class: className } = Astro.props
---

<div class={`container ${className}`}>
  <a href={link}>
    <div class="badge">
      <p>Meta Business Suite Alternative</p>
    </div>
  </a>
</div>

<style lang="scss">
  @use '../../styles/styles.scss' as *;

  .container {
    height: 100%;
  }

  .badge {
    height: 55px;
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(45deg, #f5e8f7, #e2ebfc, #e1f7f0);
  }

  p {
    font-size: var(--small-text-size);
    font-weight: 650;
    color: var(--info-40);
  }

  a:hover {
    cursor: pointer;
  }

  a:hover p {
    opacity: 0.8;
  }

  @media screen and (max-width: $max-large-phone-bp) {
    .container {
      display: none;
    }
  }
</style>
