---
const { link, title, class: className } = Astro.props
---

<a href={link}>
  <div class={`icon ${className}`}></div>
  {title}
</a>

<style lang="scss">
  @use '../../styles/styles.scss' as *;

  a {
    align-items: center;
    justify-content: center;
    padding: 13px 24px 13px 18px;
    background-color: var(--senary-15);
    font-size: var(--small-text-size);
    font-weight: 700;
    letter-spacing: 0.0083rem;
    border-radius: 14px;
    color: var(--grayscale-40);
  }

  a:hover {
    background-color: var(--senary-25);
    cursor: pointer;
  }

  .icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6px;
  }
</style>
