// OneSimple Colors
// Grayscale
$grayscale0: #fff;
$grayscale25: #777676;
$grayscale30: #4b4d52;
$grayscale35: #2d2d2d;
$grayscale45: #0d0d0d;
$grayscale50: #000;

// Primary
$primary35: #49a0f8;
$primary45: #5989b7;

// Tertiary
$tertiary50: #828593;

// Meta Colors
$meta: #0160d8;
$instagram: linear-gradient(45deg, #7638fa, #d300c5, #ff0069, #ff7a00);

// Gradient Colors
$footer: linear-gradient(
  90deg,
  rgb(255 255 255 / 0%) 50%,
  rgb(227 236 245 / 40%) 100%
),
  rgb(227 236 245 / 15%);
