@font-face {
  font-weight: 400 700;
  font-family: 'Figtree';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'Figtree Italic';
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 18px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f9faf7;
  overflow-x: hidden;
}

body * {
  display: flex;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  font-family:
    'Figtree',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #1e2027;
}
