---
const { link, title } = Astro.props
---

<a href={link} class="link" target="_blank" rel="noopener noreferrer">
  {title}
</a>

<style lang="scss">
  @use '../../styles/styles.scss' as *;

  .link {
    padding: 12px;
    font-size: var(--small-text-size);
    font-weight: 500;
    color: var(--grayscale-0);
  }

  .link:hover {
    color: var(--senary-15);
  }
</style>
