@import '../../../styles/variables.module.scss';

.header {
  display: flex;
  width: 100%;
  height: 78px;
  padding-left: 36px;
  padding-right: 36px;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  .menuButtons {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;

    .button {
      margin-right: 8px;
    }
  }
}
