@import '../../../styles/variables.module.scss';

.bubble {
  display: block;
  position: absolute;

  .small {
    width: 265px;
    height: 195px;
    border-radius: 50%;
    transform: rotate(-30deg);
    background: $smallBubble;
    filter: blur(75px);
  }

  .big {
    width: 575px;
    height: 425px;
    border-radius: 50%;
    transform: rotate(-45deg);
    background: $bigBubble;
    filter: blur(75px);
  }
}
