@import '../../../styles/variables.module';

.bubble {
  position: absolute;
  display: block;

  .small {
    width: 265px;
    height: 195px;
    background: $smallBubble;
    border-radius: 50%;
    transform: rotate(-30deg);
    filter: blur(75px);
  }

  .big {
    width: 575px;
    height: 425px;
    background: $bigBubble;
    border-radius: 50%;
    transform: rotate(-45deg);
    filter: blur(75px);
  }
}
