---
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
import { linkToForm } from '@assets/constants'

const { h2, buttonTitle } = Astro.props
---

<style lang="scss" is:global>
  @use '../../styles/styles.scss' as *;

  .primary-button-hero {
    margin: 36px 0;
  }

  @media screen and (max-width: $max-large-tablet-bp) {
    .primary-button-hero {
      margin: 24px 0;
    }
  }
</style>

<h1><slot /></h1>
<h2>
  {h2}
</h2>
<PrimaryButton
  title={buttonTitle}
  link={linkToForm}
  class="primary-button-hero"
/>
<p>For iOS, Android & Web</p>

<style lang="scss">
  @use '../../styles/styles.scss' as *;

  h1 {
    display: block;
    font-size: var(--h1-size);
    font-weight: 700;
    line-height: 3.5rem;
    width: 100%;
  }

  h2 {
    font-size: var(--h3-size);
    font-weight: 500;
    line-height: 1.7778rem;
    margin-top: 18px;
  }

  p {
    font-size: var(--small-text-size);
    font-weight: 500;
    color: var(--simple-gray);
  }

  p {
    font-size: var(--text-size);
  }

  @media screen and (max-width: $max-large-tablet-bp) {
    h1 {
      font-size: var(--h1-mobile-size);
      line-height: 3.1rem;
    }

    h2 {
      font-size: var(--text-size);
      line-height: 1.5556rem;
      margin-top: 16px;
    }

    p {
      font-size: var(--small-text-size);
    }
  }
</style>
