---
import Heading from '@components/blocks/Heading.astro'
import Layout from '@layouts/Layout.astro'
import Header from '@layouts/Header.astro'
import Hero from '@layouts/Hero.astro'
import OfficialByMeta from '@layouts/OfficialByMeta.astro'
import Footer from '@layouts/Footer.astro'
import { space } from '@styles'
---

<Layout title="Inbox for Instagram Business">
  <Header isBadgeShown={true} />
  <Hero>
    <Heading
      h2="Space for your DMs. For creators and businesses."
      buttonTitle="Try for free"
      >Inbox<br />for{`${space}`}<span class="highlight">Instagram</span> Business</Heading
    >
  </Hero>
  <OfficialByMeta />
  <Footer />
</Layout>

<style lang="scss">
  @use '../styles/styles.scss' as *;

  .highlight {
    -webkit-background-clip: text;
    background-image: linear-gradient(
      72.44deg,
      #ffd600 9.9%,
      #ff7a00 41%,
      #ff0169 89.43%
    );
    background-repeat: no-repeat;
    color: transparent;
    padding-bottom: 2px;
    display: inline-block;
    font-weight: 695;
  }
</style>
