---
import Heading from '@components/blocks/Heading.astro'
import Layout from '@layouts/Layout.astro'
import Header from '@layouts/Header.astro'
import Hero from '@layouts/Hero.astro'
import OfficialByMeta from '@layouts/OfficialByMeta.astro'
import InfoBlock from '@layouts/InfoBlock.astro'
import Footer from '@layouts/Footer.astro'
import { space } from '@styles'
---

<Layout
  title="Meta Business Suite Alternative"
  description="The best alternative to Meta Business Suite. Organize chats, track deals, and collaborate seamlessly with your team—all in one powerful app."
>
  <Header isBadgeShown={false} />
  <Hero>
    <Heading
      h2={`Manage your business effortlessly. Organize chats, track deals, and collaborate with your team.`}
      buttonTitle="Try for free"
    >
      <span class="highlight">Meta Business Suite{`${space}`}</span>Alternative
    </Heading>
  </Hero>
  <OfficialByMeta />
  <InfoBlock />
  <Footer />
</Layout>

<style lang="scss">
  @use '../styles/styles.scss' as *;

  .highlight {
    color: var(--meta);
    display: inline-block;
    font-weight: 695;
  }
</style>
