@import '../../../styles/variables.module';

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 78px;
  padding-right: 36px;
  padding-left: 36px;

  @media screen and (max-width: 743px) {
    padding-right: 12px;
    padding-left: 18px;
  }

  .menuButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .button {
      margin-right: 8px;
    }
  }
}
