// H1
$h1: 2.5rem;

// H2
$h2: 1.3125rem;

// Buttons
$primary-button: 1rem;
$secondary-button: 1rem;
$cta-button: 1.125rem;

// Paragraph
$paragraph: 1rem;

// Misc
$caption: 0.875rem;

@mixin font(
  $font-size,
  $font-style,
  $font-weight,
  $line-height
) {
  font-weight: $font-weight;
  font-size: $font-size;
  font-style: $font-style;
  line-height: $line-height;
}

.h1 {
  @include font($h1, normal, 670, 124%);
}

.h2 {
  @include font($h2, normal, 540, 1.5rem);
}

.primaryButton {
  @include font($primary-button, normal, 540, 1.5rem);

  text-transform: capitalize;
}

.secondaryButton {
  @include font($secondary-button, normal, 480, 1.5rem);

  text-transform: capitalize;
}

.ctaButton {
  @include font($cta-button, normal, 640, 1.625rem);
}

.paragraph {
  @include font($paragraph, normal, 400, 128%);
}

.caption {
  @include font($caption, normal, 480, 0.875rem);
}
