@import '../../../styles/variables.module';

.navLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: $primary45;

  &:hover {
    color: $primary35;
  }
}
