@import './sizes.module';

@mixin font(
  $font-size,
  $font-style,
  $font-weight,
  $line-height
) {
  font-weight: $font-weight;
  font-size: $font-size;
  font-style: $font-style;
  line-height: $line-height;
}

.h1 {
  @include font($h1, normal, 670, 124%);
}

.h2 {
  @include font($h2, normal, 540, 1.5rem);
}

.primaryButton {
  @include font($primary-button, normal, 540, 1.5rem);

  text-transform: capitalize;
}

.secondaryButton {
  @include font($secondary-button, normal, 480, 1.5rem);

  text-transform: capitalize;
}

.paragraph {
  @include font($paragraph, normal, 400, 128%);
}

.caption {
  @include font($caption, normal, 480, 0.875rem);
}
