@import '../../../styles/variables.module';

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 200px;
  background: $footer;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 48px;

    .links {
      margin-bottom: 24px;

      .linkButton {
        margin-right: 9px;
        margin-left: 9px;
      }
    }

    .copyright {
      color: $tertiary50;
    }
  }
}
