@import '../../styles/variables.module';

main {
  position: relative;
  background-color: $grayscale0;
}

.bigBubble {
  top: 425px;
  right: 90px;
}

.smallBubble {
  top: 665px;
  left: 10px;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1272px;
  margin: 0 auto;
  padding-right: 36px;
  padding-left: 36px;

  @media screen and (max-width: 743px) {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }

  @media screen and (min-width: 744px) and (max-width: 1279px) {
    width: 100%;
    padding-right: 97px;
    padding-left: 96px;
  }
}

.mainScreen {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 1279px) {
    flex-direction: column;
    justify-content: flex-start;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 588px;
    margin-top: 265px;
    margin-right: 126px;
    padding-left: 59px;

    @media screen and (max-width: 1279px) {
      width: 100%;
      margin-right: 0;
      padding-left: 0;
    }

    @media screen and (max-width: 743px) {
      margin-top: calc(48px + 78px);
    }

    @media screen and (min-width: 744px) and (max-width: 1279px) {
      margin-top: calc(96px + 78px);
    }

    h1 {
      width: 480px;
      margin-bottom: 16px;
      color: $grayscale45;

      @media screen and (max-width: 1279px) {
        width: 100%;
        margin-bottom: 12px;
        text-align: center;
      }

      span {
        color: transparent;
        background: $instagram;
        background-clip: text;
        box-decoration-break: clone;
      }
    }

    p {
      margin-bottom: 52px;
      color: $grayscale35;

      @media screen and (max-width: 1279px) {
        width: 100%;
        margin-bottom: 48px;
        text-align: center;
      }
    }

    .downloadButtons {
      display: flex;
      align-items: center;

      @media screen and (max-width: 1279px) {
        justify-content: center;
      }

      .button {
        display: inline-flex;
        width: 120px;
        height: 40px;
        margin-right: 18px;
        border-radius: 6px;

        @media screen and (min-width: 744px) and (max-width: 1279px) {
          margin-right: 12px;
        }

        &:nth-child(2) {
          @media screen and (max-width: 743px) {
            margin-right: 0;
          }

          @media screen and (min-width: 744px) and (max-width: 1279px) {
            margin-right: 12px;
          }
        }

        &:nth-child(3) {
          @media screen and (max-width: 743px) {
            display: none;
          }

          @media screen and (min-width: 744px) {
            display: flex;
          }
        }
      }
    }
  }
}

.presentationDesktop {
  display: flex;
  align-items: center;
  width: 486px;
  height: 688px;
  margin-top: 60px;

  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.presentation {
  display: none;
  justify-content: center;
  width: 100%;
  margin-top: 48px;

  @media screen and (max-width: 1279px) {
    display: flex;
  }
}

.phone {
  width: 397px;
  height: 688px;
}

.secondScreen {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 120px;

  @media screen and (max-width: 1279px) {
    margin-top: 64px;
  }

  .officialMeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
    padding-top: 24px;

    p {
      color: $tertiary50;
    }

    .metaBadge {
      width: 167px;
      height: 72px;
      margin-top: -8px;
    }
  }
}
