---
import SecondaryButton from '@components/buttons/SecondaryButton.astro'
import Logo from '@components/buttons/Logo.astro'
import MetaBusinessSuiteAlternativeBadge from '@components/buttons/MetaBusinessSuiteAlternativeBadge.astro'

const { isBadgeShown } = Astro.props
---

<header>
  <div class="container">
    <Logo />

    <div class="buttons">
      {
        isBadgeShown && (
          <MetaBusinessSuiteAlternativeBadge link="/meta-business-suite-alternative" />
        )
      }

      <SecondaryButton
        title="Sign up"
        link="https://forms.gle/axdDXjw7k4HpR1Z39"
      />
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
    height: 64px;
    margin: 0 auto;
    justify-content: center;
  }

  .container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
  }

  .buttons {
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }

  @media screen and (max-width: 743px) {
    .container {
      padding: 0 18px;
    }
  }
</style>
