---
import { paragraph, h2 } from '@styles'
import PrimaryButton from '@components/buttons/PrimaryButton.astro'
---

<section>
  <div class="container">
    <div class="content">
      <h2>
        The Best Meta Business Suite Alternative for Managing Instagram DMs
      </h2>

      <p>
        Looking for a <strong>Meta Business Suite alternative</strong> to streamline
        your Instagram client interactions? Our app offers powerful tools for managing
        DMs, automating responses, and organizing conversations—all in one intuitive
        platform. Boost efficiency and improve customer engagement without the complexity
        of traditional solutions.
      </p>
      <p>
        Unlike Meta Business Suite, our solution is designed specifically for
        businesses that rely on Instagram Direct for client communication. With
        advanced chat management, team collaboration features, and smart
        automation, you can handle messages faster and more effectively. Stay
        ahead of the competition with a tool built for seamless customer
        interaction.
      </p>

      <PrimaryButton title="Try it now" />
    </div>
  </div>
</section>

<style define:vars={{ paragraph, h2 }}>
  section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 96px;
    background-image: url('src/assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .content {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    max-width: 588px;
  }

  h2 {
    font-size: var(--h2);
    font-weight: 700;
    text-align: center;
    width: 100%;
  }

  p {
    display: inline;
    font-size: var(--paragraph);
    font-weight: 400;
    line-height: 25px;
    text-align: justify;
    width: 100%;
  }

  p strong {
    display: inline;
    font-weight: 600;
  }
</style>
